.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
/* Sidebar desktop */
.sidebar {
  width: 360px;
}

/* Nút mở menu ẩn trên PC */
.toggle-btn {
  display: none;
}

/* Nút đóng menu ẩn trên PC */
.close-btn {
  display: none;
}

/* MAP full size */
.map-container {
  width: 100%;
  height: 100vh;
}

/* TABLET */
@media (max-width: 1023px) {
  .sidebar {
    width: 300px;
  }
}

/* MOBILE */
@media (max-width: 768px) {
  .toggle-btn {
    display: block !important;
  }

  .close-btn {
    display: block !important;
  }

  .sidebar {
    position: fixed;
    left: -100%;
    top: 0;
    width: 80%;
    height: 100vh;
    padding: 16px;
    transition: 0.3s ease;
    z-index: 9999;
    background: white;
    border-right: 1px solid #ddd;
  }

  .sidebar.show {
    left: 0;
  }

  .map-container {
    height: 100vh !important;
    width: 100% !important;
  }
}

/* Mobile nhỏ (iPhone 320px–360px) */
@media (max-width: 360px) {
  .sidebar {
    width: 90% !important;
  }
  h2 {
    font-size: 18px !important;
  }
  select,
  input {
    font-size: 14px !important;
  }
}
