Nền mờ
.modal-bg {
  position: fixed;
  top: 0;
  left: 0;
  width: 90%;
  height: 90%;
  background: rgba(0,0,0,0.45);
  display: flex;
  justify-content: center;
  align-items: center;  /* GIÚP CĂN GIỮA */
  z-index: 9999;
}

/* Hộp form */
.modal-box {
  background: white;
  width: 600px;
  max-width: 90%;
  padding: 28px;
  border-radius: 14px;

  box-shadow: 0 10px 25px rgba(0,0,0,0.15);
  animation: fadeIn 0.2s ease;
}

.modal-box h2 {
  margin-bottom: 18px;
  font-size: 24px;
  color: #222;
  font-weight: 600;
}

/* Input */
.modal-box input {
  width: 95%;
  padding: 10px 12px;
  border: 1px solid #ccc;
  border-radius: 6px;
  margin-bottom: 12px;
  font-size: 15px;
}

/* Button */
.btn {
  padding: 10px 16px;
  border: none;
  border-radius: 6px;
  cursor: pointer;
  color: white;
  font-size: 15px;
  font-weight: 500;
  margin-right: 10px;
}

.btn-blue {
  background: #2980b9;
}

.btn-green {
  background: #27ae60;
}

.btn:hover {
  opacity: 0.9;
}

/* Animation */
@keyframes fadeIn {
  from {
    transform: scale(0.95);
    opacity: 0;
  }
  to {
    transform: scale(1);
    opacity: 1;
  }
}
